In [1]:
import pandas as pd
import numpy as np

In [8]:
df= pd.read_csv('train.csv',header=None)

In [ ]:
df_df = df.drop(index=0)

In [16]:
df.head(2)

        0       1    2      3      4     5         6         7
0  Pclass     Sex  Age  SibSp  Parch  Fare  Embarked  Survived
1       2  female   29      1      0    26         S         1

In [24]:
df_df.head(2)

   0  1    2  3  4     5  6  7
1  2  0   29  1  0    26  2  1
2  3  1  NaN  0  0  8.05  2  0

In [19]:
from sklearn.preprocessing import LabelEncoder

In [21]:
encoder=LabelEncoder()
df_df[1]= encoder.fit_transform(df_df[1])
df_df[6]= encoder.fit_transform(df_df[6])

In [22]:
df_df.head()

   0  1    2  3  4       5  6  7
1  2  0   29  1  0      26  2  1
2  3  1  NaN  0  0    8.05  2  0
3  2  1   39  0  0      26  2  0
4  3  0   29  0  4  21.075  2  0
5  3  1   25  0  0    7.05  2  0

In [31]:
df_df[6].fillna(df_df[6].mean(), inplace=True)
# df_df[5].fillna(df_df[5].mean(), inplace=True)

In [49]:

df_df[4]= df_df[4].astype(int)
df_df[5] = df_df[5].astype(float).astype(int)
df_df[7]= df_df[7].astype(int)
df_df[0]= df_df[0].astype(int)

In [47]:
df_df.head()

   0  1    2  3  4   5  6  7
1  2  0   29  1  0  26  2  1
2  3  1  NaN  0  0   8  2  0
3  2  1   39  0  0  26  2  0
4  3  0   29  0  4  21  2  0
5  3  1   25  0  0   7  2  0

In [50]:
df_df[2] = df_df[2].fillna(0)

In [52]:
df_df[2][2]

0

In [55]:
df_df[2]=df_df[2].astype(float).astype(int)

In [56]:
df_df.head()

   0  1   2  3  4   5  6  7
1  2  0  29  1  0  26  2  1
2  3  1   0  0  0   8  2  0
3  2  1  39  0  0  26  2  0
4  3  0  29  0  4  21  2  0
5  3  1  25  0  0   7  2  0

# Filtering is done up to this step

In [68]:
x= df_df.iloc[:,:7]
y= df_df.iloc[:,7:8]
y=y.values.flatten()

In [70]:
print(x.head(2))
y

   0  1   2  3  4   5  6
1  2  0  29  1  0  26  2
2  3  1   0  0  0   8  2

array([1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1])

In [71]:
x.shape

(668, 7)

In [72]:
y.shape

(668,)

In [73]:
from sklearn.linear_model import LogisticRegression

In [74]:
alg1= LogisticRegression()
alg1.fit(x,y)

LogisticRegression()

In [76]:
m= alg1.coef_
c= alg1.intercept_

In [77]:
print(m,c)

[[-9.71850272e-01 -2.56540216e+00 -1.61350499e-02 -2.50333020e-01
  -9.39017991e-02  1.41335275e-03 -1.59538639e-01]] [4.12291387]

# Uptill this Model has been trained

In [80]:
df_test= pd.read_csv('test.csv',header=None)

In [86]:
df_test.drop(index=0, inplace=True)

In [87]:
df_test[1]=encoder.fit_transform(df_test[1])
df_test[6]=encoder.fit_transform(df_test[6])

In [88]:
df_test.head()

   0  1    2  3  4        5  6
1  2  1    8  1  1    36.75  2
2  1  0   49  0  0  25.9292  2
3  3  1  NaN  0  0   7.7375  1
4  2  0   24  2  1       27  2
5  1  1   36  0  0  26.2875  2

In [94]:
df_test[0][1],df_test[1][1],df_test[2][1],df_test[3][1],df_test[4][1],df_test[5][1],df_test[6][1]

('2', 1, '8', '1', '1', '36.75', 2)

In [95]:
df_test[2].fillna(0,inplace=True)

In [96]:
df_test.head()

   0  1   2  3  4        5  6
1  2  1   8  1  1    36.75  2
2  1  0  49  0  0  25.9292  2
3  3  1   0  0  0   7.7375  1
4  2  0  24  2  1       27  2
5  1  1  36  0  0  26.2875  2

In [99]:
df_test[0]=df_test[0].astype(int)
df_test[2]=df_test[2].astype(float).astype(int)
df_test[3]=df_test[3].astype(int)
df_test[4]=df_test[4].astype(int)
df_test[5]=df_test[5].astype(float).astype(int)

In [100]:
df_test.head()

   0  1   2  3  4   5  6
1  2  1   8  1  1  36  2
2  1  0  49  0  0  25  2
3  3  1   0  0  0   7  1
4  2  0  24  2  1  27  2
5  1  1  36  0  0  26  2

In [101]:
df_test[0][1],df_test[1][1],df_test[2][1],df_test[3][1],df_test[4][1],df_test[5][1],df_test[6][1]

(2, 1, 8, 1, 1, 36, 2)

# Test data has been perfectly saaf ho gya hai

In [102]:
predictions= alg1.predict(df_test)

In [103]:
predictions

array([0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0])